body, html {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	background: #161621;
	color: #ddd;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;
}

p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

hr {

}

input {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
}

@media (pointer:none), (pointer:coarse) {
	body {
		font-size: 0.5em;
	}
}

@keyframes progress {
	0% {
		width: 0;
		opacity: 1;
	}

	100% {
		width: 100%;
		opacity: 0;
	}
}

@keyframes fade-in {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.hidden {
	pointer-events: none;
}

[tooltip]::after {
	content: attr(tooltip);
	padding: 0.5em 0.75em;
	margin-top: 0.5em;
	background: rgba(255, 255, 255, 0.05);
	position: absolute;
	left: 4em;
	z-index: 9999;
	opacity: 0;
	border-radius: 2em;
	transition: opacity 0.2s, left 0.2s, right 0.2s, top 0.2s, bottom 0.2s;
	pointer-events: none;
}

[tooltip]:hover::after {
	left: 6em;
	opacity: 1;
}

.r[tooltip]::after { left: unset; right: 4em; }
.r[tooltip]:hover::after { left: unset; right: 6em; }
.v[tooltip]::after { left: unset; bottom: 5em; transform: rotate(270deg); }
.v[tooltip]:hover::after { left: unset; bottom: 7em; }

.doottoot {
	width: 2em;
	height: 2em;
	background: white;
	display: block;
	position: absolute;
	top: 1.5em;
	border-radius: 50%;
	animation: doottoot 2s;
}

@keyframes doottoot {
	0% {
		left: 50%;
		opacity: 0;
	}

	100% {
		left: 100%;
		opacity: 1;
	}
}

/* context menus */

.context {
	padding: 1em 0;
	background: rgba(0, 0, 0, 0.4);
	position: absolute;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	border-radius: 1em;
	animation: fade-in 0.2s;
}

.context.hidden {
	display: none;
}

.context .divider {
	width: 80%;
	height: 1px;
	margin: 0.2em 10%;
	background: white;
}

.context .button, .context .submenu, .context .title {
	height: 1.4em;
	padding: 0 1.4em;
	padding-right: 3em;
	background: transparent;
	display: flex;
	align-items: center;
	transition: background 0.3s;
}

.context .button:hover, .context .submenu:hover {
	background: rgba(255, 255, 255, 0.05);
}

.context .submenu::before {
	content: "";
	width: 0;
	height: 1em;
	background: url("./img/back.svg") center / contain;
	display: block;
	position: absolute;
	left: -1em;
	opacity: 0;
	transform: rotate(180deg);
	transition: left 0.3s, width 0.3s, opacity 0.3s;
}

.context .submenu:hover::before {
	width: 1em;
	left: 0.2em;
	opacity: 1;
}

/* buttons */

.ui-button {
	width: 5em;
	height: 5em;
	background: rgba(255, 255, 255, 0.1);
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	z-index: 9;
	cursor: pointer;
}

.ui-button::before {
	content: "";
	width: 55%;
	height: 55%;
	display: block;
}

.pause {
	top: 0;
	left: 0;
	border-bottom-right-radius: 3em;
}

.pause::before {
	width: 65%;
	height: 65%;
	margin-bottom: 5%;
	margin-right: 10%;
	background: url("./img/pause.svg") center / contain;
}

.paused .pause::before {
	background: url("./img/play.svg") center / contain;
}

.missions {
	top: 0;
	right: 0;
	border-bottom-left-radius: 3em;
}

.missions::before {
	margin-bottom: 10%;
	margin-left: 10%;
	background: url("./img/missions.svg") center / contain;
}

.tools {
	bottom: 0;
	left: 0;
	border-top-right-radius: 3em;
}

.tools::before {
	margin-top: 10%;
	margin-right: 10%;
	background: url("./img/tools.svg") center / contain;
}

.components {
	bottom: 0;
	right: 0;
	border-top-left-radius: 3em;
}

.components::before {
	margin-top: 10%;
	margin-left: 10%;
	background: url("./img/components.svg") center / contain;
}

/* panels */

.objective-panel-container {
	height: 100vh;
	width: calc(100vw - 10em);
	display: flex;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 5em;
	z-index: 9;
	pointer-events: none;
}

.objective-panel {
	height: 5em;
	max-width: calc(100vw - 10em);
	padding: 0 2em;
	background: rgba(255, 255, 255, 0.05);
	display: flex;
	align-items: center;
	text-align: right;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	border-bottom-left-radius: 3em;
	border-bottom-right-radius: 3em;
	transition: width 0.5s;
	overflow-y: hidden;
	overflow-x: auto;
}

.objective-panel span {
	font-size: 1.25em;
}

.objective-hint {
	position: absolute;
	top: 5em;
	opacity: 0.5;
	pointer-events: none;
}

.objective-hint.hidden {
	display: none;
}

.objective-hint .hint {
	background: white;
	position: absolute;
}

.objective-hint .hint.round {
	border-radius: 50%;
}

.objective-hint .hint.balls {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="white"><circle cx="5" cy="5" r="5"></circle></svg>');
}

.components-panel {
	width: 5em;
	height: calc(100vh - 10em);
	background: rgba(255, 255, 255, 0.05);
	position: absolute;
	bottom: 5em;
	right: 0;
	z-index: 9;
	border-top-left-radius: 3em;
	border-bottom-left-radius: 3em;
	transition: height 0.5s;
	overflow-y: auto;
	overflow-x: hidden;
}

.components-panel .component {
	background: white;
	border-radius: 50%;
}

.component-tooltip {
	padding: 0.5em 0.75em;
	margin-top: 0.5em;
	background: rgba(255, 255, 255, 0.05);
	position: absolute;
	right: 6em;
	z-index: 9999;
	border-radius: 2em;
	transition: opacity 0.2s;
	pointer-events: none;
}

.component-tooltip.hidden {
	opacity: 0;
}

.tools-panel {
	width: 5em;
	height: 25em;
	max-height: calc(100vh - 10em);
	background: rgba(255, 255, 255, 0.05);
	position: absolute;
	bottom: 5em;
	left: 0;
	z-index: 9;
	border-top-right-radius: 3em;
	border-bottom-right-radius: 3em;
	transition: height 0.5s;
	overflow: visible;
}

.tools-option-panel {
	height: 5em;
	max-width: calc(100vw - 10em);
	background: rgba(255, 255, 255, 0.05);
	position: absolute;
	bottom: 0;
	left: 5em;
	z-index: 9;
	border-top-left-radius: 3em;
	border-top-right-radius: 3em;
	transition: width 0.5s;
	overflow: visible;
}

.components-panel.hidden { height: 0 !important; overflow-y: hidden; }
.tools-panel.hidden { height: 0 !important; overflow: hidden; }
.tools-option-panel.hidden { width: 0 !important; overflow-x: hidden; }

/* panel items */

.tools-panel > div, .tools-option-panel > div, .components-panel > div {
	width: 3em;
	height: 3em;
	margin: 1em;
	cursor: pointer;
}

.tool::before {
	content: "";
	width: 1em;
	height: 1em;
	margin-top: 1em;
	background: white;
	position: absolute;
	left: -1em;
	border-radius: 50%;
	transition: left 0.3s;
}

.tool.selected::before {
	left: -0.5em;
}

.tool[tooltip="drag"] { background: url("./img/tooldrag.svg") center / contain; }
.tool[tooltip="gas"] { background: url("./img/toolgas.svg") center / contain; }
.tool[tooltip="liquid"] { background: url("./img/toolliquid.svg") center / contain; }
.tool[tooltip="rectangle"] { background: url("./img/toolrectangle.svg") center / contain; }
.tool[tooltip="circle"] { background: url("./img/toolcircle.svg") center / contain; }
.tool[tooltip="eraser"] { background: url("./img/tooleraser.svg") center / contain; }

.material {
	margin-left: 0 !important;
	display: inline-block;
	border-radius: 50%;
}

.material:first-child {
	margin-left: 1em !important;
}

.material::before {
	content: "";
	width: 1em;
	height: 1em;
	margin-left: 1em;
	background: white;
	position: absolute;
	bottom: -1em;
	border-radius: 50%;
	transition: bottom 0.3s;
}

.material.selected::before {
	bottom: -0.5em;
}

/* windows */

.window {
	min-width: 300px;
	min-height: 200px;
	background: rgba(0, 0, 0, 0.4);
	display: flex;
	flex-direction: column;
	position: absolute;
	z-index: 99;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	border-radius: 3em;
	transition: width 0.4s, height 0.4s, opacity 0.3s;
}

.window.hidden {
	width: 0;
	height: 0;
	min-width: 0;
	min-height: 0;
	opacity: 0;
	pointer-events: none;
	overflow: hidden;
}

.setw {
	width: 33.333vw;
	height: 50vh;
}

.misw {
	width: 33.333vw;
	height: 50vh;
}

.titlebar {
	width: calc(100% - 5em);
	height: 5em;
	padding: 0 2.5em;
	background: rgba(0, 0, 0, 0.4);
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top-left-radius: 3em;
	border-top-right-radius: 3em;
}

.titlebar > .title {
	font-size: 1.25em;
}

.titlebar > .close {
	width: 2em;
	height: 2em;
	background-color: white;
	-webkit-mask: url("./img/tooleraser.svg") center / contain;
	        mask: url("./img/tooleraser.svg") center / contain;
	cursor: pointer;
	transition: background-color 0.2s;
}

.titlebar > .close:hover {
	background-color: #d55;
}

.content {
	padding: 2em;
	padding-top: 1em;
	flex: 1;
	border-bottom-left-radius: 3em;
	border-bottom-right-radius: 3em;
	overflow: auto;
}

/* settings window */

.content .option {
	display: flex;
	align-items: center;
}

.content .option :first-child {
	flex: 1;
}

.content .option :last-child {
	flex: 1;
	text-align: right;
}

.color {
	width: 100%;
	height: 1.4em;
	padding: 0.5em;
	margin: 0.5em 0;
	background: rgba(0, 0, 0, 0.4);
	display: flex;
	align-items: center;
	border-radius: 1.2em;
}

.color div {
	margin: 0 0.5em;
}

.color span {
	flex: 1;
}

.color input {
	width: 2em;
	height: 1.4em;
	padding: 0 0.5em;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	border: none;
	outline: none;
	border-radius: 0.7em;
}

.color .preview {
	height: 1.4em;
	width: 1.4em;
	margin: 0;
	border-radius: 0.7em;
}

.color .remove {
	width: 1.4em;
	height: 1.4em;
	background-color: white;
	-webkit-mask: url("./img/tooleraser.svg") center / contain;
	        mask: url("./img/tooleraser.svg") center / contain;
	cursor: pointer;
	transition: background-color 0.2s;
}

.color .remove:hover {
	background-color: #d55;
}

/* missions window */

.content .meter {
	width: 100%;
	height: 1em;
	margin-top: 0.5em;
	margin-bottom: 1.4em;
	background: rgba(0, 0, 0, 0.4);
	display: block;
}

.content .meter div {
	height: 100%;
	background: rgba(255, 255, 255, 0.8);
}

.content .meter div::before {
	content: "";
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.6)) center / contain;
	display: block;
	opacity: 0;
	animation: progress 2s infinite;
}

.content .mission {
	padding: 0.5em;
	margin: 0.5em 0;
	background: rgba(0, 0, 0, 0.4);
	display: flex;
	align-items: center;
	opacity: 0.5;
	cursor: pointer;
	transition: opacity 0.2s;
}

.content .mission :first-child { flex: 1 }

.content .mission .indicator { 
	width: 2em;
	text-align: center;
}

.content .mission:hover {
	opacity: 1;
}

.content .mission.incomplete {
	opacity: 0.5;
	cursor: not-allowed;
}

.content .mission.next {
	opacity: 1;
	cursor: pointer;
	pointer-events: all;
}

.content .title-container {
	width: 100%;
	margin-bottom: 1em;
	display: flex;
	align-items: center;
}

.content .title-container .back {
	width: 1.5em;
	height: 1.5em;
	background: url("./img/back.svg") center / contain;
	opacity: 0.5;
	cursor: pointer;
	transition: opacity 0.2s;
}

.content .title-container .back:hover {
	opacity: 1;
}

.content .title-container .title {
	font-size: 1.25em;
	margin-left: 0.3em;
	flex: 1;
}

.content .title-container .xp {
	opacity: 0.5;
}

.content ol {
	margin: 0;
}

.content .mission-track-button {
	height: 1.5em;
	padding: 0.5em;
	margin: 1em 0;
	background: rgba(0, 0, 0, 0.4);
	display: block;
	text-align: center;
	opacity: 0.5;
	cursor: pointer;
	transition: opacity 0.2s;
}

.content .mission-track-button:hover {
	opacity: 1;
}

.content .mission-track-button[disabled] {
	opacity: 0.5 !important;
	cursor: not-allowed;
}
