body, html {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	background: #161621;
	color: #ddd;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
}

p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

@media (pointer:none), (pointer:coarse) {
	body {
		font-size: 0.5em;
	}
}

.hidden {
	pointer-events: none;
}

[tooltip]::after {
	content: attr(tooltip);
	padding: 0.5em 0.75em;
	margin-top: 0.5em;
	background: rgba(255, 255, 255, 0.05);
	position: absolute;
	left: 4em;
	opacity: 0;
	border-radius: 2em;
	transition: opacity 0.2s, left 0.2s, right 0.2s;
	pointer-events: none;
}

[tooltip]:hover::after {
	left: 6em;
	opacity: 1;
}

.r[tooltip]::after {  left: unset; right: 4em; }
.r[tooltip]:hover::after { left: unset; right: 6em; }

/* buttons */

.button {
	width: 5em;
	height: 5em;
	background: rgba(255, 255, 255, 0.1);
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	z-index: 9;
	cursor: pointer;
}

.button::before {
	content: "";
	width: 55%;
	height: 55%;
	display: block;
}

.pause {
	top: 0;
	left: 0;
	border-bottom-right-radius: 3em;
}

.pause::before {
	width: 65%;
	height: 65%;
	margin-bottom: 5%;
	margin-right: 10%;
	background: url("./img/pause.svg") center / contain;
}

.paused .pause::before {
	background: url("./img/play.svg") center / contain;
}

.missions {
	top: 0;
	right: 0;
	border-bottom-left-radius: 3em;
}

.missions::before {
	margin-bottom: 10%;
	margin-left: 10%;
	background: url("./img/missions.svg") center / contain;
}

.tools {
	bottom: 0;
	left: 0;
	border-top-right-radius: 3em;
}

.tools::before {
	margin-top: 10%;
	margin-right: 10%;
	background: url("./img/tools.svg") center / contain;
}

.components {
	bottom: 0;
	right: 0;
	border-top-left-radius: 3em;
}

.components::before {
	margin-top: 10%;
	margin-left: 10%;
	background: url("./img/components.svg") center / contain;
}

/* panels */

.objective-panel {
	height: 5em;
	max-width: calc(100vw - 14em);
	padding: 0 2em;
	background: rgba(255, 255, 255, 0.05);
	display: flex;
	align-items: center;
	position: absolute;
	top: 0;
	right: 5em;
	z-index: 9;
	text-align: right;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	border-bottom-left-radius: 3em;
	border-bottom-right-radius: 3em;
	transition: width 0.5s;
	overflow-y: hidden;
	overflow-x: auto;
}

.objective-panel span {
	font-size: 1.25em;
}

.components-panel {
	width: 5em;
	height: calc(100vh - 10em);
	background: rgba(255, 255, 255, 0.05);
	position: absolute;
	bottom: 5em;
	right: 0;
	z-index: 9;
	border-top-left-radius: 3em;
	border-bottom-left-radius: 3em;
	transition: height 0.5s;
	overflow-y: auto;
	overflow-x: hidden;
}

.tools-panel {
	width: 5em;
	height: 25em;
	max-height: calc(100vh - 10em);
	background: rgba(255, 255, 255, 0.05);
	position: absolute;
	bottom: 5em;
	left: 0;
	z-index: 9;
	border-top-right-radius: 3em;
	border-bottom-right-radius: 3em;
	transition: height 0.5s;
	overflow: visible;
}

.tools-option-panel {
	height: 5em;
	max-width: calc(100vw - 10em);
	background: rgba(255, 255, 255, 0.05);
	position: absolute;
	bottom: 0;
	left: 5em;
	z-index: 9;
	border-top-left-radius: 3em;
	border-top-right-radius: 3em;
	transition: width 0.5s;
	overflow-y: hidden;
	overflow-x: auto;
}

.components-panel.hidden { height: 0 !important; overflow-y: hidden; }
.tools-panel.hidden { height: 0 !important; overflow: hidden; }
.tools-option-panel.hidden { width: 0 !important; overflow-x: hidden; }

/* panel items */

.tools-panel > div, .components-panel > div {
	width: 3em;
	height: 3em;
	margin: 1em;
	cursor: pointer;
}

.tool::before {
	content: "";
	width: 1em;
	height: 1em;
	margin-top: 1em;
	background: white;
	position: absolute;
	left: -1em;
	border-radius: 50%;
	transition: left 0.3s;
}

.tool.selected::before {
	left: -0.5em;
}

.tool[tooltip="drag"] { background: url("./img/tooldrag.svg") center / contain; }
.tool[tooltip="water"] { background: url("./img/toolwater.svg") center / contain; }
.tool[tooltip="rectangle"] { background: url("./img/toolrectangle.svg") center / contain; }
.tool[tooltip="circle"] { background: url("./img/toolcircle.svg") center / contain; }
.tool[tooltip="brush"] { background: url("./img/toolbrush.svg") center / contain; }
.tool[tooltip="eraser"] { background: url("./img/tooleraser.svg") center / contain; }

/* windows */

input[type="range"]::after {
	content:"ass";
}

.window {
	min-width: 300px;
	min-height: 200px;
	background: rgba(0, 0, 0, 0.4);
	display: flex;
	flex-direction: column;
	position: absolute;
	z-index: 99;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	border-radius: 3em;
	transition: transform 0.4s, opacity 0.3s;
}

.window.hidden {
	opacity: 0;
	transform: skewX(-45deg);
}

.setw {
	width: 33.333vw;
	height: 50vh;
}

.misw {
	width: 33.333vw;
	height: 50vh;
}

.titlebar {
	width: calc(100% - 5em);
	height: 5em;
	padding: 0 2.5em;
	background: rgba(0, 0, 0, 0.4);
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top-left-radius: 3em;
	border-top-right-radius: 3em;
}

.titlebar > .title {
	font-size: 1.25em;
}

.titlebar > .close {
	width: 2em;
	height: 2em;
	background-color: white;
	-webkit-mask: url("./img/tooleraser.svg") center / contain;
	        mask: url("./img/tooleraser.svg") center / contain;
	cursor: pointer;
	transition: background-color 0.2s;
}

.titlebar > .close:hover {
	background-color: #d55;
}

.content {
	padding: 2em;
	padding-top: 1em;
	flex: 1;
	border-bottom-left-radius: 3em;
	border-bottom-right-radius: 3em;
	overflow: auto;
}

/* settings window */

.content .option {
	display: flex;
	align-items: center;
}

.content .option :first-child {
	flex: 1;
}

.content .option :last-child {
	flex: 1;
	text-align: right;
}

/* missions window */

.content .mission {
	padding: 0.5em;
	margin: 0.5em 0;
	background: rgba(0, 0, 0, 0.4);
	display: flex;
	align-items: center;
	justify-content: space-between;
	opacity: 0.5;
	cursor: pointer;
	transition: opacity 0.2s;
}

.content .mission:hover {
	opacity: 1;
}

.content .mission.complete + .mission.incomplete {
	opacity: 1;
}
