body, html {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	background: #161621;
	color: #ddd;
	overflow: hidden;
}

.pause {
	width: 5em;
	height: 5em;
	background: rgba(255, 255, 255, 0.1);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
	border-bottom-right-radius: 3em;
}

.settings {
	width: 5em;
	height: 5em;
	background: rgba(255, 255, 255, 0.1);
	position: absolute;
	top: 0;
	right: 0;
	z-index: 9;
	border-bottom-left-radius: 3em;
}

.tools {
	width: 5em;
	height: 5em;
	background: rgba(255, 255, 255, 0.1);
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 9;
	border-top-right-radius: 3em;
}

.components {
	width: 5em;
	height: 5em;
	background: rgba(255, 255, 255, 0.1);
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 9;
	border-top-left-radius: 3em;
}
